@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hover-scrollbar {
    overflow-x: auto;
    overflow-y: auto;
  }

  .hover-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  .hover-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
  }

  .hover-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
    cursor: pointer;
  }
}
